#board {
    width: 660px;
    height: 660px;
    margin: 50px;
    float: left;
}

#rack {
    width: 308px;
    height: 44px;
    left: 220px;
    clear: both;
    padding: 0.5em;
    position: relative;
    background-color: #FB9500;
}

#rack .tile {
    cursor: grab;
}

.row {
    position: relative;
    float: left;
    width: 100%;
}

.tile {
    width: 34px;
    height: 34px;
    padding: 3px;
    background-color: #ffffcc;
    border: 2px solid #663300;
    color: black;
    border-radius: 4px;
    font-family: Arial;
    position: relative;
    text-align: center;
    float: left;
    cursor: pointer;
}

.tile .dirty {
    top: 0;
    left: 0;
    z-index: 1000;
}

.tile:empty {
    background-color: #DDDDDD;
}

.tile:hover {
    background-color: white;
}

.tile.double-letter {
    background-color: #66D3F4;
}

.tile.double-letter:empty::before {
    font-variant: small-caps;
    font-size: 7pt;
    line-height: 10pt;
    text-align: center;
    content: "double letter";
}

.tile.double-word {
    background-color: #FF7C7C;
}

.tile.double-word:empty::before {
    font-variant: small-caps;
    font-size: 7pt;
    line-height: 10pt;
    text-align: center;
    content: "double word";
}

.tile.triple-letter {
    background-color: #0E7AC7;
}

.tile.triple-letter:empty::before {
    font-variant: small-caps;
    font-size: 7pt;
    line-height: 10pt;
    text-align: center;
    content: "triple letter";
}

.tile.triple-word {
    background-color: #DC1F28;
}

.tile.triple-word:empty::before {
    font-variant: small-caps;
    font-size: 7pt;
    line-height: 10pt;
    text-align: center;
    content: "triple word";
}

.tile.first-word {
    background-color: #FF7C7C;;
}

.tile.first-word:empty::before {
    font-family: FontAwesome;
    content: '\f005';
    font-size: 28pt;
    line-height: 26pt;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.letter {
    font-size: 20pt;
    font-weight: bold;
    line-height: 26pt;
    text-transform: uppercase;
}

.letter-score {
    font-size: 8pt;
    position: absolute;
    top: 0px;
    right: 4px;
    width: 20px;
    height: 20px;
    text-align: right;
}

.exchangecb {
    position: absolute;
    right: 1px;
    bottom: -10px;
    display: none;
}
