#board {
    width: 700px;
    background-color: #cccccc;
    margin: 50px;
}

#rack {
    width: 340px;
    clear: both;
    padding-top: 50px;
    position: relative;
    left: 200px;
}

#rack .tile {
    cursor: grab;
}

.row {
    position: relative;
    float: left;
    width: 100%;
}

.tile {
    width: 34px;
    height: 34px;
    padding: 3px;
    background-color: #ffffcc;
    border: 2px solid #663300;
    color: black;
    border-radius: 4px;
    font-family: Arial;
    position: relative;
    text-align: center;
    float: left;
    cursor: pointer;
}

.tile:hover {
    background-color: white;
}

.tile.double-letter {
    background-color: #66D3F4;
}

.tile.double-letter:empty::before {
    font-variant: small-caps;
    font-size: 7pt;
    line-height: 10pt;
    text-align: center;
    content: "double letter";
}

.tile.double-word {
    background-color: #FF7C7C;
}

.tile.double-word:empty::before {
    font-variant: small-caps;
    font-size: 7pt;
    line-height: 10pt;
    text-align: center;
    content: "double word";
}

.tile.triple-letter {
    background-color: #0E7AC7;
}

.tile.triple-letter:empty::before {
    font-variant: small-caps;
    font-size: 7pt;
    line-height: 10pt;
    text-align: center;
    content: "triple letter";
}

.tile.triple-word {
    background-color: #DC1F28;
}

.tile.triple-word:empty::before {
    font-variant: small-caps;
    font-size: 7pt;
    line-height: 10pt;
    text-align: center;
    content: "triple word";
}

.letter {
    font-size: 20pt;
    font-weight: bold;
    line-height: 26pt;
    text-transform: uppercase;
}

.letter-score {
    font-size: 8pt;
    position: absolute;
    top: 0px;
    right: 4px;
    width: 20px;
    height: 20px;
    text-align: right;
}
